.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  padding: 90px 0px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
}

.header__links-list {
  display: flex;
  gap: 30px;
  padding-bottom: 7px;
  list-style: circle;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  min-width: 135px;
  min-height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  padding-left: 105px;
  font-style: normal;
  text-underline-offset: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  max-width: 1000px;
  color: hsla(0, 0%, 100%, 1);
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: bold;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.top-left {
  padding-top: 165px;
  padding-left: 50px;
}

.center {
  padding-top: 300px;
  padding-left: 15px;
}

.bottom-right {
  right: 85px;
  padding-top: 434px;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  padding: 0px 50px 50px 50px;
}

.cover__description-text {
  padding-top: 10px;
  color: hsla(0, 0%, 100%, 1);
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: regular;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20.5px;
}

.letter-spacing-extended {
  word-spacing: 17.5px;
}

.cover__bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid hsla(0, 0%, 100%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: medium;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  display: grid;
  margin-top: 180px;
}

.lots__title {
  margin-left: 24px;
  padding-bottom: 27px;
  padding-left: 40px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 100%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px 48px;
  background-position: center;
  background-size: cover;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  color: hsla(0, 0%, 100%, 1);
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: hsla(0, 0%, 100%, 1);
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: regular;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 24px;
  padding-top: 30px;
  padding-left: 40px;
  color: hsla(0, 0%, 0%, 1);
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: regular;
  line-height: 100%;
}

.about {
  margin: 120px 24px 0px;
}

.about__column {
  display: grid;
  grid-template-columns: [one] 359px [two] 1fr;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
}

.about__logo {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 47px 0px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  transform: scale(0.61, 0.61);
}

.about__title {
  display: flex;
  align-items: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 2 / 2 / 2;
  row-gap: 25px;
  overflow: auto;
}

.about__text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: regular;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 180px;
  margin-top: 180px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  font-style: regular;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.footer__links-list {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 3px;
  list-style: none;
}

.footer__link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: regular;
  line-height: 100%;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.footer__social-icon {
  max-width: 48px;
  max-height: 48px;
}
